<%# # template for the user's homepage
# rendered by the get '/user/home'
 %>

<%# # CRUD options (add to list, edit list) %>

 <!doctype html>
<html>
<head>
<title>Home</title>
</head>

<p id='home'>
"Welcome, <%=@user.username%>!"
</p>

<h1>Your Grocery List</h1>
<%# # Grocery list goes here %>



<div class='crud'>
<ul>
    <li><a href='/items/new'>Add to the list</a></li>
    <li><a href='/items/edit'>Update List</a></li>
    <li><a href='/logout'>Log Out</a></li>
</ul>
</div>
</html>