<%# # rendered by '/registrations/signup'
# Form will POST to the post '/registrations' %>
<!doctype html>
<html>
<head>
<title>Sign Up</title>
</head>
<div id='signup'>
<h1>Sign Up Below</h1>
<form action='/users' method='POST'>
<p>   
    <label for='username'>Username:</label>
        <input type='text' name='username' required='required' placeholder='coolfunkyname1739'>
</p>
<p>
    <label for='email'>Email:</label>
        <input type='email' name='email' required='required' placeholder='mail@mail.com'>
</p>
<p>
    <label for='password'>Password:</label>
        <input type='password' name='password' required='required' placeholder='Ft2!*wP?v'>
</p>

<%# #have it auto sign in after setting up account %>
<input type='submit' value='Create Account'>
   <input type="reset">
</div>

</html>
