<!doctype html>
<html>
<head>
<title>List Page</title>
</head>


<h1>Your Grocery List & Make edits</h1>
<ol>
<%@items.each do  |item|%>
    <li>Name: <%= item.name%>
    Quantity: <%= item.quantity%>
    <a href='/items/<%=item.id%>/edit'>Click here to edit</a></li><br>
<%end%>
</ol>

<p><a href='/users/home'>Click here</a> to go home</p>
