<!doctype html>
<html>
<head>
<title>List Page</title>
</head>


<h1>Your Grocery List</h1>
<%binding.pry%>
<% @items.each do |item| %>
    Name: <%= item.name %>
    Quantity: <%= item.quatity %>
    <%end%>
</html>