<!doctype html>
<html>
<head>
<title>Show Page</title>
</head>


<h1>What you added to the list (show page)</h1>
<%=@item.name%> with a quantity of <%=@item.quantity%> has been added to your list


<p></p><a href='/'>Click here</a> to return to the home page</p>