<!doctype html>
<html>
<head>
<title>Show Page</title>
</head>


<h1>What you added to the list (show page)</h1>
<p><%=@item.name%> with a quantity of <%=@item.quantity%> has been added to your list</p>


<p><a href='/users/home'>Click here</a> to return to the home page</p>
<p><a href='/items/<%=@item.id%>/edit'>Click here</a> to make an edit</p>

<h2>If you want to delete an item, click on button below</h2>
<form action='/items/<%=@item.id%>' method='POST'>
<input type="hidden" name="_method" value="DELETE">
<input type='submit' value='DELETE this item'>
</form>