<%# # rendered by get '/' %>

<%# # want to either sign in or sign up %>


<!doctype html>
<html>
<head>
<title>Index</title>
</head>

<h2>Sign Up</h2>
<p class='signup'>
<a href='/signup'>Sign Up</a> if you would like to sign up
</p><br>

<h2>Log In</h2>
<p class='login'>
    <a href='/login'>Log In</a> here if you have an account already
</p>


</html>